body{

    background-color: #607D8B;
    
}

#mainTable{
    
    width:80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace; 
    font-size: 30px;
    
}

#psImages{
    
    width:80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace; 
    font-size: 20px;
    
    
}

.tdMain{
    
    width: 30%;
    background-color: #ECEFF1;
    height: 40px;
    text-align: center;
    -webkit-transition: all 0.23s ease;
    
}

.tdMain:hover{
    
    background-color: #CFD8DC;
/*    color: aliceblue;*/
    -webkit-transform:scale(1.08);
}

.tdMain:focus{
    
    background-color:cadetblue;
    color: aliceblue;
    -webkit-transform:scale(1.08);
    transform:scale(1.08);
}

h2{
    
    margin-left: 10%;
    font-family: monospace;
    
    
}

img{
    
    max-width: 80%;
    max-height: 500px;
    position: relative;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}
  
.panel{
    
    color: azure;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #263238;
    align-content: center;
    align-items: center;
    
}

.panel > h1 {
    
    text-align: center;
    font-family: monospace;
    padding-top: 10px;
    
}
/*
.panel > img {
    
  padding: 10px;
  width: auto;
  height : auto;
  max-height: 90%;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
    
}

*/

.img_div{
    
    display: none;
    
}